* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

/* AUTH PAGE */

.auth-body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
    text-align: center;
    color: white;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

.auth-card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background: #dc2626;
    color: white;
}

.secondary {
    background: #334155;
}

/* DASHBOARD */

.dashboard {
    height: 100vh;
    background: linear-gradient(135deg, #111827, #1f2937);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sos-btn {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #dc2626;
    color: white;
    font-size: 32px;
    border: none;
}

.countdown-box {
    margin-top: 30px;
    display: none;
    text-align: center;
}

#timer {
    font-size: 60px;
    margin-bottom: 15px;
}

.cancel-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #334155;
    color: white;
}
