body{
  margin:0;
  font-family:Arial;
  background:#0b0f19;
  color:white;
  text-align:center;
}

.screen{display:none;padding:30px;}
.screen.active{display:block;}

.logo{
  font-size:40px;
  font-weight:bold;
  margin-top:150px;
  animation:fade 2s infinite alternate;
}

@keyframes fade{
  from{opacity:0.6}
  to{opacity:1}
}

.loader{
  margin-top:20px;
  width:30px;
  height:30px;
  border:4px solid #00ffae;
  border-top:4px solid transparent;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg)}
}

.brand{
  font-size:32px;
}

.features{
  margin:20px 0;
}

input{
  width:80%;
  padding:10px;
  margin:10px;
}

button{
  padding:10px 20px;
  margin:10px;
  background:#00ffae;
  border:none;
  cursor:pointer;
}

.status{
  margin:20px;
  padding:20px;
  border:1px solid #00ffae;
}
